<div class="app-parent bg-color">
    <div class="first-nav">
        <span class="menu pd-2 logo">Logo</span>
    </div>
    <div class="second-nav">
        <div class="pd-2 menu" [routerLink]="['']">Home</div>
        <div class="pd-2 menu" [routerLink]="['help', '1']">Help</div>
        <div class="pd-2 menu" [routerLink]="['register']">Register</div>
        <div class="pd-2 menu" [routerLink]="['users']">Users</div>
        <div class="pd-2 menu" [routerLink]="['contact']">Contact</div>
        <div class="pd-2 menu" [routerLink]="['pipes-demo']">Pipes</div>
        <div class="pd-2 menu service">Service</div>
    </div>
    <div class="third-nav">
        <div *ngIf="observableData | async as list">
            <div class="menu pd-2" (click)="signOut()">Signout
            </div>
            <div class="menu pd-2" *ngIf="list">{{ list }}
            </div>
        </div>
        
    </div>
</div>
