<div class="container-fluid">
    <app-header [val]="name" [age]="'29'"></app-header>
</div>

<div class="container">
    <button (click)="setVal('rishi')">change</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-12 row">
        <app-card class="col-md-4">First</app-card>
        <app-card class="col-md-4">Second</app-card>
        <app-card class="col-md-4">Third</app-card>
        <!-- <div class="card col-md-4">First</div>
        <div class="card col-md-4">Second</div>
        <div class="card col-md-4">Third</div> -->
    </div>
    <router-outlet></router-outlet>
</div>

<div class="container-fluid footer">
    <app-footer></app-footer>
</div>




