
<div>
    <router-outlet></router-outlet>
</div>



<!-- <div class="container">
    <div class="app-body">
        <form [formGroup]="dynamicForm">
            <div *ngFor="let contr of usernameArray.controls; let i = index" formArrayName="username">
            <input type="text" [formControlName]="i">
        </div>
            <button (click)="addName()">Add</button>
            <button type="submit" style="background-color: greenyellow;" [disabled]="!dynamicForm.valid">Save</button>
        </form>
        <div style="display: flex; height: 100px;width: 100px; border: 1px solid green;">
        <div>center</div>
        </div>
        <div style="display: flex;">
        <div class="red-div" style="justify-content: space-between;margin: auto; flex:1;height: 100px; width: 100px; border: 1px solid red;margin: 10px;">Red</div>
        <div class="blue-div" style="justify-content: space-between;margin: auto; flex:1;height: 100px; width: 100px; border: 1px solid blue;margin: 10px;">Blue</div>
    </div>
        <div class="app-sidebar">
            <div class="sidebar1">
                <h4>sidebar1</h4>
                <p>Specifically, the contents of a paragraph are as follows: The Topic Sentence serves two functions: first, it functions as the thesis of your paragraph; second, it pushes the thesis of your essay forward and presents an arguable point. The topic sentence is usually the first or second sentence of a paragraph</p>
            </div>
            <div class="sidebar2">
                <h4>sidebar2</h4>
                <p>Specifically, the contents of a paragraph are as follows: The Topic Sentence serves two functions: first, it functions as the thesis of your paragraph; second, it pushes the thesis of your essay forward and presents an arguable point. The topic sentence is usually the first or second sentence of a paragraph</p>
            
            </div>
            <div class="sidebar3">
                <h4>sidebar3</h4>
                <p>Specifically, the contents of a paragraph are as follows: The Topic Sentence serves two functions: first, it functions as the thesis of your paragraph; second, it pushes the thesis of your essay forward and presents an arguable point. The topic sentence is usually the first or second sentence of a paragraph</p>
            
            </div>
        </div>

        <div class="call-outs-container">
            <div class="call-out">
                <h4>callout1</h4>
                <p>Specifically, the contents of a paragraph are as follows: The Topic Sentence serves two functions: first, it functions as the thesis of your paragraph; second, it pushes the thesis of your essay forward and presents an arguable point. The topic sentence is usually the first or second sentence of a paragraph</p>
            
            </div>
            <div class="call-out">
                <h4>callout2</h4>
                <p>Specifically, the contents of a paragraph are as follows: The Topic Sentence serves two functions: first, it functions as the thesis of your paragraph; second, it pushes the thesis of your essay forward and presents an arguable point. The topic sentence is usually the first or second sentence of a paragraph</p>
            
            </div>
            <div class="call-out">
                <h4>callout3</h4>
                <p>Specifically, the contents of a paragraph are as follows: The Topic Sentence serves two functions: first, it functions as the thesis of your paragraph; second, it pushes the thesis of your essay forward and presents an arguable point. The topic sentence is usually the first or second sentence of a paragraph</p>
            
            </div>
        </div>
    </div>
</div> -->